
body{
    margin: 0;
    padding: 0;
}
body{
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 2;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;

}
/*global*/
.container{
  width: 80%;
  margin: auto;/*move eveything to the middle*/
  overflow: hidden;/*dont wanna a scrollbar on the site*/

}

ul{
 margin: 0;
 padding: 0;

}
.button_1{
  height:38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;
}


/*header*/
header{
  background:#35424a;
  color:white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: aquamarine 3px solid;/*color in botton of the header*/
}

header a{/*all the links tags*/
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


header li{
  float:left;
  display: inline;
  padding: 0 20px 0 20px;/*top right bottom left*/
}
header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 10px;
}



header a:hover{

  font-weight: bold;
  border-radius: 10px;
  background-color: yellow;
  padding: 10px;
  margin: 0;
}














footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #32323e;
    color: white;
}
.top{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

.moreInfo{
    margin-left: 13em;
    margin-right: 13em;
}
.social p:hover{
    color: #4c4cff;
    cursor: pointer;

}
.social p i{
    margin-right:0.4em;
}
.bot{
    text-align: center;
}

=======
body {
  background: #34495e;
  font-family:"Roboto", sans-serif;
}

.menu-nav {
  max-width: 1000px;
  margin: 0px auto;/*hvor menyen skal være*/
  background-color: #ecf0f1;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navigation-bar ul {
  border-radius: 5px;
  overflow: hidden;
}
.navigation-bar li {
  float: left;
  width: 20%;
}
.navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
.navigation-bar a {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
.navigation-bar a:hover {
  color: #e74c3c;
}
/*.navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #e74c3c;
  */

}


li {
	list-style: none;
}

.logo{
  margin-top: -120px;
  margin-left: 80px;

}

.button{
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  background-color:grey;
  color:red;
  padding: 20px 30px;
  cursor: pointer;
  display: inline-block;
  margin-top: -160px;
  margin-left: 1270px;
}


.button2{
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  background-color:grey;
  color:red;
  padding: 20px 30px;
  cursor: pointer;
  display: inline-block;
  margin-top: -160px;
  margin-left: 1380px;
}

/* Kontakt skjema */
.contact-form {
  background-color: lightgrey;
  border-radius: 15px;
  box-shadow: 10px 10px grey;
  padding: 15px;
  width: 60%;
  margin: auto;
}

.contact-form input, textarea {
  display: block;
  padding: 0.75em;
  box-shadow: 5px 5px grey;
  margin-bottom: 1em;
  width: 50%; 
  border-color: white;
}

.contact-form input:focus, textarea:focus {
  transition: 0.5s;
  box-shadow: 0px 0px;
}


.contact-form button {
  background-color: blue;
  color: white;
  border-color: blue;
  padding: 10px;
  box-shadow: 5px 5px grey;
}

.form-melding {
  margin-top: 1em;
  width: 60%;
  border: 1px solid black;
  padding: 1em;
  background-color: lightyellow;
}

